 <div class="footer">
   
    <!-- stay up to date -->
    <div class="up-to-date">
        <h3>STAY UP TO DATE</h3>
        <p>Enter your email address to receive updates on new product previews, ad promotions,<br> special offers and latest
            know-how
            on skincare routines.</p>
        <input class="footer-email" type="email">
        <button>SUBSCRIBE</button>
        <form class="input-wrapper">
            <input type="checkbox" id="privacy" name="privacy" required>
            <label for="privacy">
                By proceeding ahead, I agree and accept<a href="privacy-policy.html" target="_blank"> privacy policy
                </a>.
            </label>
        </form>
    </div>
</div>
    <!-- footer -->

